{% extends "base.html" %}

{% block title %} {{ block.super }} | login {% endblock %}

{% block content %}
<section id="main">
  {% if form.errors %}
    <div class="container mt-5">
      <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
        <div class="alert fade_error .fade"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>error! incorrect username and/or password</strong> </div>
        </div>
    </div>
</div>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}"> {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
  </form>
</section>
{% endblock content %}