{% extends "base.html" %} {% load static %} {% block content %}
<section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">
      <a href="{% url 'index' %}" class="text-decoration-none">
        <span style="color: #bd150b">Croeso</span>
        <span style="color: #ffffff">i</span>
        <span style="color: #79dd09">Cymru</span>
      </a>
    </h1>
    <div class="container" id="search-box">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
          <form class="form" action="{% url 'index' %}" method="get">
            <input
              type="text"
              class="form-control form-input"
              placeholder="Search by keywords. Use # to search by tags"
              name="search"
              required
            />
          </form>
        </div>
        <div class="col-md-1">
          <button id="search" type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    {% for site,color in sites %}
    <article class="postcard dark {{color}}" id="{{site.id}}">
      {% with img=site.random_img %} {% if img %}

      <a class="postcard__img_link" href="{{img.image.url}}">
        <img
          class="postcard__img"
          src="{{img.image.url}}"
          alt="{{img.caption}}"
        />
      </a>

      {% endif %} {% endwith %}
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="{% url 'details' site.id %}">{{site.title}}</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00"> {{site.location}} </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{site.description}}</div>
        {% with tags=site.tags.all %} {% if tags.exists %}
        <ul class="postcard__tagbox">
          {% for tag in tags %}
          <li class="tag__item blue play" id="{{tag.name}}">
            <a href="{% url 'index' %}?tag={{tag.name}}"> {{tag.name}} </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>
    </article>
    {% empty %}
    <h1 class="text-center">No items matched your search</h1>
    {% endfor %}
  </div>
</section>
<script src="{% static 'app/sites.js' %}"></script>
{% endblock %}
