{% extends "base.html" %} 
{% load static %} 
{% block head %}
  <link rel="stylesheet" href="{% static 'app/review.css' %}" />
{% endblock %}
{% block content %}
<section class="container d-flex justify-content-center">
  <h1 class="text-ceter heading-1">New review for <a href="{% url 'details' site.id %}" class="site-title">{{site.title}}</a></h1>
</section>
<section class="container">
  <form action="{% url 'createreview' site.id %}" method="post">
    {% csrf_token %}
    <!-- Rating input -->
    <div class="rating_div">
  <div class="container d-flex justify-content-center mt-100">
     <div class="row">
         <div class="col-md-6">
             <div class="card bg-dark">
                 <div class="card-body text-center"> 
                   <p class="lead">Rating <span class="text-danger">*</span></p>
                     <fieldset class="rating">
                         <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Amazing - 5 stars"></label>
                         <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                         <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                         <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                         <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Not happy I went there - 1 star"></label>
                     </fieldset>
                 </div>
             </div>
         </div>
     </div>
 </div>
      
    </div>

    <div class="form-outline form-white mb-4 bg-dark">
      <textarea
        name="comment"
        class="form-control white-txt"
        id="form4Example3"
        rows="4"
      ></textarea>
      <label class="form-label" for="form4Example3">Comment</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-success btn-block mb-4">Send</button>
  </form>
</section>
{% endblock %}
