{% extends "base.html" %} 
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/details.css' %}">
<section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">
        {{site.title}}
    </h1>
    {% if images %}
        <div id="img-gallery" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <div class="carousel-indicators">
                {% for image in images %}
                    <button
                    type="button"
                    data-mdb-target="#img-gallery"
                    data-mdb-slide-to="{{ forloop.counter0 }}"
                    class="active"
                    aria-current="true"
                    aria-label="Slide {{ forloop.counter }}"
                    ></button>
                {% endfor %}
            </div>

            <div class="carousel-inner rounded-5 shadow-4-strong">
                {% for image in images %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                        <a class="postcard__img_link" href="{{image.image.url}}">
                            <img 
                                src="{{image.image.url}}" 
                                class="mx-auto d-block carousel-image"
                                alt="{{image.caption}}" 
                                onmouseover='hide("{{image.id}}")' 
                                onmouseleave='unhide("{{image.id}}")' 
                            />
                        </a>
                        <div class="carousel-caption d-none d-md-block" id="{{image.id}}">
                            <h5>{{image.caption}}</h5>
                            <p>{{image.site.description|truncatewords:10}}</p>
                        </div>
                    </div>
                {% endfor %}

                <button
                    class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#img-gallery"
                    data-mdb-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-mdb-target="#img-gallery"
                    data-mdb-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    {% endif %}
</section>
<script src="{% static 'app/details.js' %}"></script>
{% endblock %}
