{% extends "base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/details.css' %}" />

<section class="dark">
  <div class="container py-4">
    <h1 class="h1 text-center" id="pageHeaderTitle">{{site.title}}</h1>
    <h5 class="text-center">{{site.location}}</h5>
    <p class="text-center">{{site.description}}</p>
    {% if images %}
    <div id="img-gallery" class="carousel slide" data-mdb-ride="carousel">
      {% if images.count > 1 %}
      <div class="carousel-indicators">
        {% for image in images %}
        <button
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide-to="{{ forloop.counter0 }}"
          class="active"
          aria-current="true"
          aria-label="Slide {{ forloop.counter }}"
        ></button>
        {% endfor %}
      </div>
      {% endif %}

      <div class="carousel-inner rounded-5 shadow-4-strong">
        {% for image in images %}
        <div
          class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}"
        >
          <a class="postcard__img_link" href="{{image.image.url}}">
            <img
              src="{{image.image.url}}"
              class="mx-auto d-block carousel-image"
              alt="{{image.caption}}"
              onmouseover='hide_caption("{{image.id}}")'
              onmouseleave='show_caption("{{image.id}}")'
            />
          </a>
          <div class="carousel-caption d-none d-md-block" id="{{image.id}}">
            <h5>{{image.caption}}</h5>
          </div>
        </div>
        {% endfor %} {% if images.count > 1 %}
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>

<section>
  {% if user.is_authenticated %}
  <a class="btn btn-block btn-success" href="{% url 'createreview' site.id %}">
    Write a Review
  </a>
  {% endif %}
</section>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <div class="card comments" id="comments">
        <ul class="list-unstyled">
          {% for review in reviews %}
          <li>
            <div class="row">
              <div class="col-3 align-self-start">
                <h6 class="user pt-2">
                  <span class="round">
                    <img
                      src="https://avatars.dicebear.com/api/bottts/{{ review.user.username }}.svg"
                      class="rounded-circle comment-pic"
                      height="30"
                      alt="Initials of username"
                      loading="lazy"
                    /> </span
                  >{{ review.user.username }}
                </h6>
              </div>
              <div class="col align-self-center">
                <h3>{{ review.comment }}</h3>
              </div>
              <div class="col-1 align-self-end rating-num">
                <h5>{{ review.rating}}/5</h5>
              </div>
            </div>
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />

<div>
  <a href="{% url 'index' %}">
    <button type="button" class="btn btn-outline-success btn-lg btn-rounded">
      Back to all sites
    </button>
  </a>
</div>

<script src="{% static 'app/details.js' %}"></script>

{% endblock %}
