{% extends "base.html" %} {% load static %} {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/details.css' %}" />



<section class="dark">
  <div class="container py-4">
    <a href="{% url 'index' %}">
  <button type="button" class="btn btn-outline-success btn-lg btn-rounded"> Back to all sites </button>
</a>
    <h1 class="h1 text-center" id="pageHeaderTitle">{{site.title}}</h1>
    <h5 class="text-center">{{site.location}}</h5>
    <p class="text-center">{{site.description}}</p>
    {% if images %}
    <div id="img-gallery" class="carousel slide" data-mdb-ride="carousel">
      {% if images.count > 1 %}
      <div class="carousel-indicators">
        {% for image in images %}
        <button
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide-to="{{ forloop.counter0 }}"
          class="active"
          aria-current="true"
          aria-label="Slide {{ forloop.counter }}"
        ></button>
        {% endfor %}
      </div>
      {% endif %}

      <div class="carousel-inner rounded-5 shadow-4-strong">
        {% for image in images %}
        <div
          class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}"
        >
          <a class="postcard__img_link" href="{{image.image.url}}">
            <img
              src="{{image.image.url}}"
              class="mx-auto d-block carousel-image"
              alt="{{image.caption}}"
              onmouseover='hide_caption("{{image.id}}")'
              onmouseleave='show_caption("{{image.id}}")'
            />
          </a>
          <div class="carousel-caption d-none d-md-block" id="{{image.id}}">
            <h5>{{image.caption}}</h5>
          </div>
        </div>
        {% endfor %} {% if images.count > 1 %}
        <button
          class="carousel-control-prev"
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-mdb-target="#img-gallery"
          data-mdb-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
<script src="{% static 'app/details.js' %}"></script>

<div class="container">
	

<section>
{% if user.is_authenticated %}
  <a class='btn btn-block btn-success' href="{% url 'createreview' site.id %}"> Write a Review </a>
{% endif %}
</section>
  
<section>
<table>
    <thead class='heading'>
        <th>Rating</th>
        <th>Comment</th>
    </thead>
    <tbody>
      {% for review in reviews %}
			<tr>
        <td class="info">{{review.rating}}</td> 
				<td class="info">{{review.comment}}</td>
			</tr>
      {% endfor %}
    </tbody>
</table>
</section>
  
<br>
<div>
<a href="{% url 'index' %}">
  <button type="button" class="btn btn-outline-success btn-lg btn-rounded"> Back to all sites </button>
</a>
  
</div>
	


{% endblock %}
