.carousel-image {
  transition: all 0.5s;
  filter: opacity(50%);
}

.landscape {
  max-width: 100vw;
}
.portrait {
  max-height: 70vh;
}
.carousel-image:hover {
  filter: opacity(100%);
}

.heading {
  font-size: 20 px;
}

.info {
  font-size: 30px;
}

table {
  color: white;
}

th,
td {
  padding: 15px;
}

.btn {
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-outline-success:hover {
  background-color: #00c851;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

h3 {
  margin-top: 2%;
  margin-left: 27%;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.card {
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
  width: 700px;
}

span img {
  border-radius: 10px;
  padding-right: 5px;
  width: 60px;
  height: 55px;
}

.round .align-self-start {
  border-radius: 100%;
  width: 45px;
  height: 40px;
}

.media .comment {
  background: #f4f4f4;
  border: none;
  border-radius: 10px;
}

h6.user {
  color: #ffffff;
  font-size: 15px !important;
  padding-left: 15px !important;
  margin-bottom: 0;
}

p.text {
  margin-bottom: 0;
  color: #ffffff !important;
  font-size: 14px;
}

.ml-auto {
  margin-right: 10px;
}

.comments {
  background-color: #262626;
}

#comments{
  width: 90vw;
  margin-top: 1em;
}

#comments2{
  width: 90vw;
  margin-top: 1em;
  text-align: center;
}

/* @media screen and (min-width: 576px) {
  .comment {
    width: 470px !important;
  }
} */
@media only screen and (max-width: 600px) {
  .rating-num {
    width: 4em;
    transform: translateY(-1.5em);
  }
  .comment-pic {
    max-width: 3em;
  }
}

.red_dragon{
  color: #ff4444;
  text-shadow: #000 0px 0px 2px;
}

.empty_dragon{
  color: #424242;
  text-shadow: #000 0px 0px 2px;
}