body {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
  overflow-x: hidden;
}
.rating_div {
  margin-bottom: 1em;
}

.rating {
  border: none;
  margin-right: 25px;
}

.card {
  position: relative;
  display: flex;
  width: 350px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
}

.card .card-body {
  padding: 1rem 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

p {
  font-size: 14px;
}

h4 {
  margin-top: 18px;
}

.white-txt {
  color: white;
}

.btn-outline-danger:not(:checked) {
  color: #ff4444;
}

.btn-outline-danger:hover {
  color: #ff9191;
}

.cover-img-left {
  object-fit: cover;
  object-position: left;
}

.review-col {
  padding: 3rem;
}
.review-col h1 {
  margin-bottom: 1rem;
}
